
<div class="backButton d-flex justify-content-start">

<a href="#" routerLink="/orders" class="btn btn-primary">&lt;&lt; Back</a>
</div>
<h1 class="title">Current Orders Placed</h1>
<div class="container my-5">
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <p-table [value]="orders" [paginator]="true" [rows]="10" [showCurrentPageReport]="true" responsiveLayout="scroll"
    currentPageReportTemplate=" {currentPage} of {totalRecords}" [rowsPerPageOptions]="[10,25,50]"> 
      <ng-template pTemplate="header">
        <tr>
          <th>Order Number</th>
          <th>Email</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Address</th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-order>
        <tr>
          <td>{{order.id}}</td>
          <td>{{order.email}}</td>
          <td>{{order.price}}</td>
          <td>{{order.quantity}}</td>
          <td>{{order.address}}</td>
          <td><p-button label="Fulfill" (onClick)="fulfill(order.id)"></p-button></td>
        </tr>
      </ng-template>
      <ng-template pTemplate="paginatorleft">
        <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
      </ng-template>
      <ng-template pTemplate="paginatorright">
          <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
      </ng-template>
    </p-table>
  </div>
</div>