<!-- <a href="#" routerLink="/users/index" class="btn btn-primary">&lt;&lt; Back</a> -->
<h1 class="title">Current Orders Placed</h1>

<div class="container my-5">
    <div class="shadow-lg p-3 mb-5 bg-white rounded">
        <table class="table shadow-4 align-middle mb-0">
            <thead class="bg-light">
                <tr>
                    <th>Order Number</th>
                    <th>Email</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Address</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <!-- <tbody>
            <tr *ngFor="let eachOrder of orders">
                
                <td><button (click)="" class="btn btn-success">Fulfill</button></td>
            </tr>  
        </tbody> -->
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            123123123
                        </div>
                    </td>
                    <td>123@gmail.com</td>
                    <td>$123</td>
                    <td>123</td>
                    <td>123 Address Street</td>
                    <td><button class="btn btn-link btn-sm btn-rounded">Fulfill</button></td>
                </tr>
                <tr>
                    <td>123123123</td>
                    <td>123@gmail.com</td>
                    <td>$123</td>
                    <td>123</td>
                    <td>123 Address Street</td>
                    <td><button class="btn btn-link btn-sm btn-rounded">Fulfill</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>