<div class="title">
    <h1>create-pdf-page works!</h1>
    <button type="onSubmit" (click)="createPdf()">Download Pdf Page</button>
    <!-- <div id="pdfContentToDownload" #keywordsInput>
        <p>Kevin</p>
    </div> -->
</div>

<div class="container" #keywordsInput>
    <!-- <div #keywordsInput> -->
    <table class="table shadow-4 bg-white p-3 my-3 border">

        <thead>
            <tr class="d-flex border-bottom">

                <h1 class="d-inline-flex p-2 border border-bottom"> P </h1>
            </tr>
        </thead>


        <tbody>
            <tr class="d-flex justify-content-center border-bottom">
                <br>
                <div id="USPS">USPS PRIORITY MAIL</div>
                <br>
            <tr>
            <tr>
                <br>
                <div>123 Address Street, Atlanta, GA, 20200</div>
                <br>

            </tr>
            <tr class="d-flex justify-content-center">
                <h4>Shipment To:</h4>
                <br>
                <br>
                <br>
            </tr>
            <tr class="d-flex justify-content-end border-bottom">
                <br>
                <br>
                <br>
                <div>321 ShipmentAddress Street, New York, NY, 22222</div>
                <br>
                <br>
                <br>

            </tr>

            <tr class="d-flex justify-content-center border-bottom">
                <br>
                <br>
                <br>
                <h4>Location</h4>
                <br>
                <br>
                <br>
            <tr>

        </tbody>
    </table>
    <!-- </div> -->

</div>