<!-- <a href="#" routerLink="/users/index" class="btn btn-primary">&lt;&lt; Home</a> -->
<div class="title">
    <h1>Order has been fulfilled</h1>
    <button type="onSubmit" (click)="createPdf()">Download Pdf Page</button>
</div>

<div class="container" #pdfPrint>
    <!-- <div #keywordsInput> -->
    <table class="table shadow-4 bg-white p-3 my-3 border" #keywordsInput>

        <thead>
            <tr class="d-flex border-bottom">

                <h1 class="d-inline-flex p-2 border border-bottom"> P </h1>
            </tr>
        </thead>


        <tbody>
            <tr class="d-flex justify-content-center border-bottom">
                <br>
                <div id="USPS">USPS PRIORITY MAIL</div>
                <br>
            <tr>
            <tr class="d-flex justify-content-start">
                <h4>From:</h4>
                <br>
                <br>
                <br>
            </tr>
            <tr class="d-flex justify-content-center">
                <br>
                <div>123 Address Street, Atlanta, GA, 20200</div>
                <br>
                <br>
                <br>

            </tr>
            <tr class="d-flex justify-content-start">
                <h4>Shipment To:</h4>
                <br>
                <br>
                <br>
            </tr>
            <tr class="d-flex justify-content-center border-bottom">
                <br>
                <br>
                <br>
                <div>{{ address }}</div>
                <br>
                <br>
                <br>

            </tr>
            <tr>
                <br>
                <h4>Delivery Confirmation</h4>
                <br>
            <tr>
            <tr class="d-flex justify-content-center border-bottom">
                <img src="/assets/pictures/barcode.jpg" alt="barcode">
            </tr>

        </tbody>
    </table>
    <!-- </div> -->

</div>